<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/tf1.png" width="188" height="275" style="float:left; margin:20px 10px;"><br><b>The Fast and the
            Furious</B><br>Los Angeles
        police officer Brian O'Conner must decide where his loyalty really lies when he becomes enamored with the street
        racing world he has been sent undercover to destroy.
        <br><br><br><b>RATING</b><br><img src="img/star.png" width="130" height="30">
       
        <HR width="1000" color="BLACK"><img src="img/rambo.jpg" width="188" height="275"
            style="float:left; margin:20px 10px;"><br><b>Rambo:
            First blood Part II</B><br>Three years after the events in Hope,
        Washington, former US Army soldier John Rambo is visited at a prison labor camp by his old commander, Colonel
        Sam Trautman.
        <br><br><b>RATING</b><br><img src="img/star.png" width="130" height="30">

        <HR width="1000" color="BLACK"><img src="img/jum.jpg" width="188" height="275"
            style="float:left; margin:20px 10px;"><br><b>Jumanji</B><br>Jumanji, one of the most
        unique--and dangerous--board games ever, falls into the hands of the curious teen, Alan Parrish, in 1969.
        <br><br><br><br><br><b>RATING</b><br><img src="img/star.png" width="130" height="30">
    </p>
</ons-page>